* {
    margin: 0;
    padding: 0;
}


body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {

    width: 72%;
    height: 100%;
    margin: auto;
    background: #eee;
    
}

.main-containter {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background: #bdb;
    position: relative;

}

aside.aside {
    
    background: #bbc;

}

aside.aside h4 {
    background: #cdc;
    padding: 12px;
    
}

aside.aside ul {
    text-align: right;
    margin: 30px 0px auto 0px;
}

aside {
    padding: 15px;
    background: #ccd;
}

p {
    text-indent: 20px;
    padding: 10px;
    margin: auto;
}

nav {
    background: #cdf;
    position: relative;
}

ul li {
    list-style-type: none;
    padding: 10px 20px 10px 10px;
    display: inline-block;
}


main {
    margin: 10px 5px 5px 10px;
    justify-content: space-between;
    padding: 10px;
}

h3 {
    padding: 10px;
}

.header-wrapper nav{
    z-index: 10;
    padding: 0px;
    margin: 0px;
}

.footer-wrapper nav {
    bottom: 0;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 72%;
}

.footer-wrapper{
    background: #ccd;
}

a {
    text-decoration: none;
    padding: 5px;
}

h1 {
    background: #ccd;
    margin: 0;
    padding: 5px;
}

#author-note {
    background: #cbc;
}

aside ul li {
    line-height: 1em;
    padding: 3px;
    margin: 3px;
    background: #eca;
    text-align: left;
    justify-content: space-around;
    display: block;
}

aside ul li a {
   color: darkblue; 
}

img {
    
    position: relative;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: auto;

}

.imageset-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.image-wrapper {
    background: #cde;
}

fieldset {
    border-style: solid;
    border-width: 1px;

}
legend p {
    background: #cdf;
    border-radius: 8px;
    margin: 10px;

}

form {
    margin-top: 25px;
    background: #dae;
    padding: 13px;
    
    
}

