* {
    margin: 0;
    padding: 0;
}


body {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper {

    width: 72%;
    height: 100%;
    margin: auto;
    background: #eee;
    
}

.main-containter {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background: #bdb;
    position: relative;

}

aside.aside {
    
    background: #bbc;

}

aside.aside h4 {
    background: #cdc;
    padding: 12px;
    
}

aside.aside ul {
    text-align: right;
    margin: 30px 0px auto 0px;
}

aside {
    background: #ccd;
}

p {
    text-indent: 20px;
    padding: 10px;
    margin: auto;
}

nav {
    background: #cdf;
    position: relative;
}

ul li {
    list-style-type: none;
    padding: 10px 20px 10px 10px;
    margin: 0;
    display: inline-block;
}


main {
    margin: 30px 5px 5px 10px;
    padding: 10px;
}

h3 {
    padding: 10px;
}

.header-wrapper nav{
    z-index: 10;
    padding: 0px;
    margin: 0px;
}

.footer-wrapper nav {
    bottom: 0;
    position: fixed;
    padding: 0px;
    margin: 0px;
    width: 72%;
}

.footer-wrapper{
    background: #ccd;
}

a {
    text-decoration: none;
    padding: 5px;
}

h1 {
    background: #ccd;
    margin: 0;
    padding: 5px;
}

#author-note {
    background: #cbc;
}

aside ul li {
    line-height: 0.5em;
}
